In [16]:
import pandas as pd

In [18]:
df = pd.read_csv(r"C:\Users\Sam\Desktop\NW Work\Spring Work\MSiA-SQ\MSiA 431\02_hw\02_question_music\output_music_full_fixed.txt", 
                 header=None, 
                 sep=",", 
                #  encoding="utf-16"
                 )

In [19]:
x = 567
df.iloc[x:x+4, :]

                       0          1
567        Br÷derna Djup  126.66730
568  Buckeye Politicians  370.49424
569     Buckwheat Zydeco  416.23465
570         Buddy Jewell  212.89751

In [22]:
len(df[0].unique())

4411