In [1]:
import pandas as pd

In [6]:
df = pd.read_csv(r"C:\Users\nuke2\Desktop\NW Work\Spring Work\MSiA-SQ\Data\MSiA 431\02_hw02\music_sample.csv", header=None)

C:\Users\nuke2\AppData\Local\Temp\ipykernel_11584\2918040863.py:1: DtypeWarning: Columns (182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\nuke2\Desktop\NW Work\Spring Work\MSiA-SQ\Data\MSiA 431\02_hw02\music_sample.csv", header=None)

In [15]:
x = 567
df.iloc[x:x+4, :]

,0,1,2,3,4,5,6,7,8,9,...,417,418,419,420,421,422,423,424,425,426
567,Forever,Snivilisation,Orbital,478.45832,22050,1269,0.693009,0.498669,ARD5K161187B9AC784,51.27562,...,0.197754087788,2109,750.302,300.73496,239.103210033,478.03323,0.24704,137.82646957,2109,504268.66996
568,Dead End Sign,Album,Bonita,217.88689,22050,279568,0.477963,0.427015,ARLPXQE1187B99066C,-6.17144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569,Dead End Sign,Album,Bonita,217.88689,22050,279568,0.477963,0.427015,ARLPXQE1187B99066C,-6.17144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,Dead End Sign,Album,Bonita,217.88689,22050,279568,0.477963,0.427015,ARLPXQE1187B99066C,-6.17144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN